<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <title>Home</title>
</head>

<body>
    <div class="NavBar">
        <% if (user) { %>
            <p>Hello <%= user.USERNAME %>
            </p>
            <% } %>
                <a class="NavButtonLink" href="/">Home</a>
                <% if (!user) { %>
                    <a class="NavButtonLink" href="/signup">Sign Up</a>
                    <% } %>
                        <% if (user) { %>
                            <a class="NavButtonLink" href="/logout">Log out</a>
                            <% } else { %>
                                <a class="NavButtonLink" href="/login">Log in</a>
                                <% } %>
                                    <!-- <a class="NavButtonLink" href="/users">Users</a> -->
                                    <% if (user) { %>
                                        <a class="NavButtonLink" href="/account"> My Account</a>
                                        <% } %>
    </div>
    <div class="AccountInfo">
        <p>First Name: <%= user.FIRST_NAME %>
        </p>
        <p>Last Name: <%= user.LAST_NAME %>
        </p>
        </br>
        <p>UserName: <%= user.USERNAME %>
        </p>
        </br>
        <p>VIP member: <%= user.VIP %>
        </p>
    </div>
    <% if (user.ADMIN) { %>
        <p> This is an admin account</p>
        <%}%>
            <% if (!user.VIP) { %>
                <form action="/account" method="post">
                    <labeL for="code">Secret Code</labeL>
                    <% if (typeof correct !=='undefined' && !correct) { %>
                        <p class="error-message">Sorry, wrong answer</p>
                        <% } %>
                            <input name="code" id="code" placeholder="The answer to life" />
                            <button type="submit">Submit</button>
                </form>
                <%}%>





</body>

</html>