<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='../stylesheets/style.css' />
  <title>Home</title>
</head>

<body>
  <div class="NavBar">
    <div class="NavLeft">
      <a class="NavButtonLink" href="/">Home</a>
      <% if (user) { %>
        <div class="NavWlc"> Welcome, <%= user.USERNAME %>
        </div>
        <% } %>
    </div>

    <div class="NavMid">
      JokesOnU
    </div>

    <div class="NavRight">
      <% if (!user) { %>
        <a class="NavButtonLink" href="/signup">Sign Up</a>
        <a class="NavButtonLink" href="/login">Log in</a>
        <% } %>
          <% if (user) { %>
            <a class="NavButtonLink" href="/account"> My Account</a>
            <a class="NavButtonLink" href="/logout">Log out</a>
            <% } %>
    </div>
  </div>




  <h1>Joke Board</h1>

  <% if (user) { %>
    <a href="/message" class="buttonLink">New Joke</a>
    <% if (!user.VIP) { %> <div class="BecomeVIPMsg">Visit <a href="/account">My Account</a> to become a VIP and see the joke set-ups</div><%}%>
    <%} %>

    



      <div class="messageBoard">
        <% if (user) { %>
          <% allMessages.reverse().forEach(msg=> { %>
            <div class="message">
              <% if (user.VIP) { %>
                <div class="messageAuthor">
                  <%= msg.MESSAGE_TITLE %>
                </div>
                <% } else { %>
                  <div class="messageAuthorHidden">
                    *****
                  </div>
                  <% } %>
                    <div class="messageContent">
                      <%= msg.MESSAGE_CONTENT %>
                    </div>
                    <div class="messageTimestamp">
                      Posted by: <%= msg.MESSAGE_AUTHOR %>
                    </div>
                    <div class="messageTimestamp">
                      <%= msg.MESSAGE_TIMESTAMP.toLocaleString() %>
                    </div>
                    <% if (user.ADMIN || (user.USER_ID===msg.MESSAGE_AUTHOR_ID && !user.Admin)) { %>
                      <a href="/delete-message/<%= msg.MESSAGE_ID %>" class="DeleteButton">Delete</a>
                      <% } %>
            </div>
            <% }); %>
              <% } else { %>
                <a href="/signup" class="buttonLink">Sign up to see jokes</a>
                <P>
                  <%= allMsgCount %> jokes posted so far
                </P>
                <% } %>
      </div>


</body>

</html>