<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
</head>

<body>
    <div class="NavBar">
        <div class="NavLeft">
            <a class="NavButtonLink" href="/">Home</a>
            <% if (user) { %>
                <div class="NavWlc"> Welcome, <%= user.USERNAME %>
                </div>
                <% } %>
        </div>

        <div class="NavMid">
            JokesOnU
        </div>

        <div class="NavRight">
            <% if (!user) { %>
                <a class="NavButtonLink" href="/signup">Sign Up</a>
                <a class="NavButtonLink" href="/login">Log in</a>
                <% } %>
                    <% if (user) { %>
                        <a class="NavButtonLink" href="/account"> My Account</a>
                        <a class="NavButtonLink" href="/logout">Log out</a>
                        <% } %>
        </div>
    </div>
    <h1>Sign Up</h1>
    <form action="/signup" method="post">
        <label for="firstName">First Name:</label>
        <input name="firstname" type="text" id="firstName" required
            value="<%= formData && formData.firstname ? formData.firstname : '' %>">

        <br>

        <label for="lastName">Last Name:</label>
        <input name="lastname" type="text" id="lastName" required
            value="<%= formData && formData.lastname ? formData.lastname : '' %>">

        <br>

        <label for="email">Email Address:</label>
        <input name="email" type="email" id="email" required
            value="<%= formData && formData.email ? formData.email : '' %>">

        <br>

        <label for="username">Username:</label>
        <input name="username" type="text" id="username" required
            value="<%= formData && formData.username ? formData.username : '' %>">

        <br>

        <label for="password">Password:</label>
        <input name="password" type="password" id="password" required minlength="6">

        <br />

        <label for="confirmPassword">Confirm Password:</label>
        <input name="confirmPassword" type="password" id="confirmPassword" required>

        <br>
        <% if (typeof errors !=='undefined' && Array.isArray(errors) && errors.length> 0) { %>
            <ul class="error-list">
                <% errors.forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }); %>
            </ul>
            <% } %>
                <button type="submit">Sign up</button>
                <p> Already have an account?
                    <a href="/login">Log in</a>
                </p>
    </form>
</body>


</html>